In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
path_train = "../2020-ml100marathon-midterm/train_data.csv"
df_train = pd.read_csv(path_train)
path_test = "../2020-ml100marathon-midterm/test_features.csv"
df_test = pd.read_csv(path_test)

df_train.head()

,name,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,RICE KENNETH D,1750000.0,NaN,-3504386.0,NaN,ken.rice@enron.com,19794175.0,46950.0,18.0,42.0,...,1617011.0,174839.0,True,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,SKILLING JEFFREY K,5600000.0,NaN,NaN,NaN,jeff.skilling@enron.com,19250000.0,29336.0,108.0,88.0,...,1920000.0,22122.0,True,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,SHELBY REX,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,...,NaN,1573324.0,True,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,KOPPER MICHAEL J,800000.0,NaN,NaN,NaN,michael.kopper@enron.com,NaN,118134.0,NaN,NaN,...,602671.0,907502.0,True,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,CALGER CHRISTOPHER F,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,...,375304.0,486.0,True,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0

In [9]:
#將犯罪者(Person-of-Interest, poi)的boolean置換成0,1
y_train = df_train["poi"].map({True:1, False:0})

In [13]:
#約13%的犯罪率
y_train.value_counts()

0    100
1     13
Name: poi, dtype: int64

In [17]:
#將訓練集中的答案拿掉
df_train = df_train.drop(["poi"],axis=1)

In [18]:
df_train.shape

(113, 21)

In [19]:
df_test.shape

(33, 21)